.ios{
	--loach-status-bar-height: 20px;
	--loach-nav-bar-container-height: 44px;
	--loach-nav-bar-height: calc(var(--loach-status-bar-height) + var(--loach-nav-bar-container-height));
	--loach-app-bload-edge: 10px;
}
