
@import "../../style/index";
.loach-nav-bar{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: @loach-nav-bar-height;
	background-image: linear-gradient(90deg, @loach-theme-light-color, @loach-theme-dark-color);
	padding-top: @loach-status-bar-height;
	display: flex;
	justify-content: space-between;
	color: @load-nav-text-normal-color;
}
